body {
    background-color: #eee;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#landingActions {
    margin: 16px;
    display: flex;
}

#landingActions > button {
    flex-grow: 1;
    font-size: 20px;
    width: 150px;
    padding: 8px;
}

#landingActions > button:hover {
    background-color: rgba(163, 163, 163, 0.83);
}

.issueListItemHeader {
    margin: 8px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid;
}

.issueListItemHeader > div {
    width: 20%;
    padding: 8px;
    border: 1px solid;
}

.issueListItem {
    margin: 8px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid;
}

.issueListItem > div {
    width: 20%;
    border: 1px solid;
    padding: 8px;
}

.hide {
    display: none;
}
